
/*  
.navbar {
    background: #072707 !important;
  }
  
  .navbar .navbar-brand {
  
    font-weight: bolder;
    color: rgb(94,139,126);
    font-size: 1.3em;
    margin-left: 5%;
  }
  .navbar-text {
    font-family: 'Kaushan Script', cursive;
    display: block;
    position: relative;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  .navbar-text:hover {
    color: rgb(223,238,234);
    cursor: pointer;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }
  
  .nav-item {
    margin-left: 30px;
  }
  
  .logo img {
      margin-left: auto;
      display: block;
      position: relative;
      -webkit-transition: all 0.3s ease-in;
      transition: all 0.3s ease-in;
      color: #f7e705;
    }
    .logo:hover img {
      -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
      transform: scale(1.2);
    }